<article class="blog line-content">
    <div class="blog_wrap_item">
        <div class="blog-post-figure">
            {{#if post.thumbnail}}
               
                    <a href="{{post.url}}">
                        {{> components/common/responsive-img
                            image=post.thumbnail
                            fallback_size=theme_settings.blog_size_listing
                            lazyload=theme_settings.lazyload_mode
                        }}
                       
                    </a>
                
            {{/if}}
        </div>

        <div class="blog-post-body">
            <header class="blog-header">
                <div class="blog_title">
                    <a href="{{post.url}}">{{post.title}}</a>
                </div>
               <!--  <p class="blog-date">{{#if post.author}}{{lang 'blog.posted_by' name=post.author}} on {{/if}}{{post.date_published}}</p> -->
            </header>

            <div class="blog-post">
                {{#if post.body}}
                    {{{post.body}}}
                {{else}}
                {{{post.summary}}}&hellip; 
            </div>
                {{#if post.show_read_more}}
                    <div><a href="{{url}}" class="btn-primary read_more">Read more</a></div>
                {{/if}}
            {{/if}}
            


            {{#if show_tags}}
                {{#if post.tags}}
                    <ul class="tags">
                        {{#each post.tags}}
                        <li class="tag">
                            <a href="{{url}}">#{{name}}</a>
                        </li>
                        {{/each}}
                    </ul>
                {{/if}}
            {{/if}}

            {{>components/common/share}}

        </div>
    </div>
</article>
