{{#if currency_selector.currencies.length '>' 1}}
<ul class="navUser-section">
    <li class="navUser-item">
        <a class="navUser-action navUser-action--currencySelector has-dropdown" href="#" data-dropdown="currencySelection" aria-controls="currencySelection" aria-expanded="false">
            <span class="currency-flag">{{{ getImage currency_selector.active_currency_flag "zoom_size" }}}</span>
        </a>
        <ul class="dropdown-menu" id="currencySelection" data-dropdown-content aria-hidden="true" tabindex="-1">
            {{#each currency_selector.currencies}}
            <li class="dropdown-menu-item">
                <a href="{{{switch_url}}}">
                    {{#if is_active}}
                        <span class="currency-flag">
                            {{{ getImage flag "zoom_size" }}}
                        </span>
                    {{else}}
                        <span class="currency-flag">
                          {{{ getImage flag "zoom_size" }}}  
                        </span>
                    {{/if}}
                </a>
            </li>
            {{/each}}
        </ul>
    </li>
</ul>
{{/if}}
