<div class="container">
    <nav class="navPages">
        <ul class="navPages-list">
            <li class="navPages-item">
                <a class="navPages-action has-subMenu" href="/swms" data-collapsible="navPages-27" aria-controls="navPages-27" aria-expanded="false">
                    <span><i class="fas fa-chevron-left"></i><span>Back</span></span> SWMS <i class="far fa-chevron-down"></i><i class="far fa-chevron-up"></i><i class="fas fa-chevron-right"></i>
                </a>
                <div class="navPage-subMenu custom-4items" id="navPages-27" aria-hidden="true" tabindex="-1">
                    <ul class="navPage-subMenu-list">
                        <li class="navPage-subMenu-item hidden">
                            <a class="navPage-subMenu-action navPages-action select-all" href="/swms">Shop All</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action has-subMenu" href="/swms" data-collapsible="navPages-68" data-collapsible-disabled-breakpoint="medium" data-collapsible-disabled-state="open" data-collapsible-enabled-state="closed" aria-expanded="false" aria-controls="navPages-68">
                                <span><i class="fas fa-chevron-left"></i><span>Back</span></span> SWMS <i class="fas fa-chevron-right"></i>
                            </a>
                            <ul class="navPage-childList" id="navPages-68" aria-hidden="true">
                                <li class="navPage-childList-item hidden">
                                    <a class="select-all navPage-childList-action navPages-action" href="/swms">Shop All</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/swms">Complete List</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/swms-discounted-packs/">SWMS Value Packs</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/swms-template/"> Free SWMS Template</a>
                                </li>
                            </ul>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action has-subMenu" href="/swms" data-collapsible="navPages-72" data-collapsible-disabled-breakpoint="medium" data-collapsible-disabled-state="open" data-collapsible-enabled-state="closed" aria-expanded="false" aria-controls="navPages-72">
                                <span><i class="fas fa-chevron-left"></i><span>Back</span></span> Industry Specific SWMS <i class="fas fa-chevron-right"></i>
                            </a>
                            <ul class="navPage-childList" id="navPages-72" aria-hidden="true">
                               <!--  <li class="navPage-childList-item hidden">
                                    <a class="select-all navPage-childList-action navPages-action" href="/industry-specific-swms/">Shop All</a>
                                </li> -->
                               <ul class="float-left">
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/agriculture-swms/">Agriculture</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/air-conditioning-swms/">Air Conditioning </a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/asbestos-swms/">Asbestos</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/auto-industry-swms/">Auto Industry</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/bricklaying-blocklaying-swms/">Brick/Block Laying </a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/carpentry-swms/">Carpentry</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/civil-road-works-swms/">Civil Road Works</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/cleaning-swms/">Cleaning</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/communications-swms/">Communications</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/concreting-swms/">Concreting</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/construction-swms/">Construction</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/earthmoving-swms/">Earthmoving</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/electrical-swms/">Electrical</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/engineering-swms/">Engineering</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/flooring-swms/">Flooring</a>
                                </li>
                               </ul>
                               <ul class="float-left">
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/glazier-swms/">Glazier</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/landscaping-swms">Landscaping</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/handyman-swms/">Handyman</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/high-risk-construction-swms/">High Risk Construction</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/hospitality-swms/">Hospitality</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/joinery-swms/">Joinery</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/make-safe-swms/">Make Safe</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/manual-handling/">Manual Handling</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/manufacturing-swms/">Manufacturing</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/mobile-plant-swms/">Mobile Plant Equipment</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/painting-swms/">Painting</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/pest-control-swms/">Pest Control</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/plastering-swms/">Plastering</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/plumbing-swms/">Plumbing</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/office-retail-swms/">Office/Retail</a>
                                </li>
                               </ul>
                               <ul class="float-left">
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/refrigeration-swms/">Refrigeration</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/roofing-swms/">Roofing</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/security-swms/">Security</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/shop-fitting-swms/">Shop Fitting</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/silica-dust-exposure-swms/">Silica Dust Exposure</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/solar-swms/">Solar</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/swimming-pool-swms/">Swimming Pool</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/tiling-swms/">Tiling</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/transport-logistics-swms/">Transport & Logistics</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/tree-lopping-felling-swms/">Tree Lopping/Felling</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/warehousing-swms/">Warehousing</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/welding-swms/">Welding</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/working-at-heights-swms/">Working at Heights</a>
                                </li>
                               </ul>
                            </ul>
                        </li>
                    </ul>
                    <!-- <div class="megamenu" data-id="m1">
                        
                    </div> -->
                </div>
            </li>
            <li class="navPages-item not-child">
                <a class="navPages-action has-subMenu" href="/safe-operating-procedures" data-collapsible="navPages-297" aria-controls="navPages-27" aria-expanded="false">
                    <span><i class="fas fa-chevron-left"></i><span>Back</span></span> SOP <i class="far fa-chevron-down"></i><i class="far fa-chevron-up"></i><i class="fas fa-chevron-right"></i>
                </a>
                <div class="navPage-subMenu" id="navPages-297" aria-hidden="true" tabindex="-1">
                    <ul class="navPage-subMenu-list">
                        <!-- <li class="navPage-subMenu-item hidden">
                            <a class="navPage-subMenu-action navPages-action select-all" href="/swms">Shop All</a>
                        </li> -->
                        <li class="navPage-subMenu-item no-margin">
                            <a class="navPage-subMenu-action navPages-action has-subMenu" href="/standard-operating-procedures" data-collapsible="navPages-97" data-collapsible-disabled-breakpoint="medium" data-collapsible-disabled-state="open" data-collapsible-enabled-state="closed" aria-expanded="false" aria-controls="navPages-97">
                                <span><i class="fas fa-chevron-left"></i><span>Back</span></span> Industry Specific<i class="fas fa-chevron-right"></i>
                            </a>
                            <ul class="navPage-childList " id="navPages-97" aria-hidden="true">
                                <ul class="float-left">
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/standard-operating-procedures/">Complete List</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/automotive-sops/">Automotive</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/care-services-sops/">Care Services</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/catering-sops/">Catering</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/chemicals-sops/">Chemicals</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/cleaning-services-sops/">Cleaning Services</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/equipment-non-powered-sops/">Equipment (Non-powered)</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/gardening-sops/">Gardening</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/height-access-equipment-sops/">Height Access Equipment</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/lifting-equipment-sops/">Lifting Equipment</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/personal-services-sops/">Personal Services</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/power-tools-sops/">Power tools</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/powered-equipment-sops/">Powered Equipment</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/powered-plant-sops/">Powered Plant</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/security-sops">Security</a>
                                    </li>
                                </ul>
                                <!-- <ul class="float-left">
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/flooring-sops/">Flooring SOP's</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/glazier-sops/">Glazier SOP's</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/garden-maintenance-landscaping-sops/">Garden Maintenance/Landscaping SOP's</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/hospitality-sops/">Hospitality SOP's</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/handyman-sops/">Handyman SOP's</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/high-risk-construction-sops/">High Risk Construction SOP's</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/joinery-sops/">Joinery SOP's</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/manual-handling-sops/">Manual Handling SOP's</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/manufacturing-sops/">Manufacturing SOP's</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/mobile-plant-sops/">Mobile Plant SOP's</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/plumbing-sops/">Plumbing SOP's</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/painting-sops/">Painting SOP's</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/pest-control-sops/">Pest Control SOP's</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/plastering-sops/">Plastering SOP's</a>
                                    </li>
                                </ul> -->
                                <!-- <ul class="float-left">
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/professional-office-retail-sops/">Professional/Office/Retail SOPs</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/refrigeration-sops/">Refrigeration SOP's</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/roofing-sops/">Roofing SOP's</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/silica-dust-exposure-sops/">Silica Dust Exposure SOP's</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/shop-fitting-sops/">Shop Fitting SOP's</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/solar-sops/">Solar SOP's</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/swimming-pool-sops/">Swimming Pool SOP's</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/security-sops/">Security SOPs</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/tiling-sops/">Tiling SOP's</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/tree-lopping-felling-sops/">Tree Lopping/Felling SOP's</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/transport-logistics-sops/">Transport & Logistics SOP's</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/warehousing-sops/">Warehousing SOP's</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/welding-sops/">Welding SOP's</a>
                                    </li>
                                    <li class="navPage-childList-item">
                                        <a class="navPage-childList-action navPages-action" href="/working-at-heights-sops/">Working at Heights SOP's</a>
                                    </li>
                                </ul> -->
                            </ul>
                        </li>
                    </ul>
                    <div class="megamenu" data-id="m0">
                        
                    </div>
                </div>
            </li>
            <li class="navPages-item">
                <a class="navPages-action has-subMenu" href="/management-systems/" data-collapsible="navPages-49" aria-controls="navPages-49" aria-expanded="false">
                    <span><i class="fas fa-chevron-left"></i><span>Back</span></span> Management Systems <i class="far fa-chevron-down"></i><i class="far fa-chevron-up"></i><i class="fas fa-chevron-right"></i>
                </a>
                <div class="navPage-subMenu" id="navPages-49" aria-hidden="true" tabindex="-1">
                    <ul class="navPage-subMenu-list">
                        <li class="navPage-subMenu-item hidden">
                            <a class="navPage-subMenu-action navPages-action select-all" href="/management-systems/">Shop All</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action has-subMenu" href="/management-systems/" data-collapsible="navPages-56" data-collapsible-disabled-breakpoint="medium" data-collapsible-disabled-state="open" data-collapsible-enabled-state="closed" aria-expanded="false" aria-controls="navPages-56">
                                <span><i class="fas fa-chevron-left"></i><span>Back</span></span> Management Systems <i class="fas fa-chevron-right"></i>
                            </a>
                            <ul class="navPage-childList" id="navPages-56" aria-hidden="true">
                                <li class="navPage-childList-item hidden">
                                    <a class="select-all navPage-childList-action navPages-action" href="/management-systems/">Shop All</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/management-systems/">Complete List</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/ohs-management-systems/construction-ohs-whs-management-system-50240">Construction Management System</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/environmental-management-systems/">Environmental Management Systems</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/integrated-management-systems/">Integrated Management Systems</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/ohs-management-systems/">OHS/WHS Management Systems</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/quality-management-systems">Quality Management Systems</a>
                                </li>
                            </ul>
                        </li>
                        <!-- <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action has-subMenu" href="/ohs-management-systems/" data-collapsible="navPages-63" data-collapsible-disabled-breakpoint="medium" data-collapsible-disabled-state="open" data-collapsible-enabled-state="closed" aria-expanded="false" aria-controls="navPages-63">
                                <span><i class="fas fa-chevron-left"></i><span>Back</span></span> OHS/WHS System Components <i class="fas fa-chevron-right"></i>
                            </a>
                            <ul class="navPage-childList" id="navPages-63" aria-hidden="true">
                                <li class="navPage-childList-item hidden">
                                    <a class="select-all navPage-childList-action navPages-action" href="/ohs-management-systems/">Shop All</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/checklists-forms-registers/">Checklists, Forms &amp; Registers</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/ohs-policies/ohs-drivers-manual-20005">Driver Manual</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/management-plans/">Management Plans</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/ohs-policies/">Policies &amp; Procedures</a>
                                </li>
                            </ul>
                        </li> -->
                    </ul>
                    <div class="megamenu" data-id="m1">
                        
                    </div>
                </div>
            </li>
            <li class="navPages-item not-child">
                <a class="navPages-action" href="/management-plans/">Management Plans</a>
            </li>
            <!-- <li class="navPages-item">
                <a class="navPages-action has-subMenu" href="/quality-management-systems/quality-management-system-50170" data-collapsible="navPages-107" aria-controls="navPages-107" aria-expanded="false">
                    <span><i class="fas fa-chevron-left"></i><span>Back</span></span> QMS / ISO / EMS <i class="far fa-chevron-down"></i><i class="far fa-chevron-up"></i><i class="fas fa-chevron-right"></i>
                </a>
                <div class="navPage-subMenu" id="navPages-107" aria-hidden="true" tabindex="-1">
                    <ul class="navPage-subMenu-list">
                        <li class="navPage-subMenu-item hidden">
                            <a class="navPage-subMenu-action navPages-action select-all" href="#">Shop All</a>
                        </li> 
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="/quality-management-systems/quality-management-system-50170">Quality Management System</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="/environmental-management-systems/environmental-management-system-50168">Environmental Management System AS/NZS</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="/management-plans/construction-environmental-management-plan-50169">Construction Environmental Management Plan</a>
                        </li>
                    </ul>
                    <div class="megamenu" data-id="m4">
                        
                    </div>
                </div>
            </li> -->
            <li class="navPages-item" id="menu-support">
                <a class="navPages-action has-subMenu" href="/supporting-documents/" data-collapsible="navPages-" aria-controls="navPages-" aria-expanded="false">
                    <span><i class="fas fa-chevron-left"></i><span>Back</span></span>Supporting Documents<i class="far fa-chevron-down"></i><i class="far fa-chevron-up"></i><i class="fas fa-chevron-right"></i>
                </a>
                <div class="navPage-subMenu" id="navPages-" aria-hidden="true" tabindex="-1">
                    <ul class="navPage-subMenu-list">
                        <!-- <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="/articles/">Articles</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="/faqs/">Faqs</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="/contact-us/">Contact Us</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="/partner-program/">Partner Program</a>
                        </li> -->
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="/checklists-forms-registers/">Checklists, Forms & Registers</a>
                        </li>
                        <!-- <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="/video-tutorials/">Video Tutorials</a>
                        </li> -->
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="/ohs-policies/ohs-drivers-manual-20005/">Drivers Manual</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="/ohs-policies/">Policies & Procedures</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="/ohs-policies/worker-contractor-induction-handbook-20212/">Worker/Contractor Handbook</a>
                        </li>
                    </ul>
                    <div class="megamenu" data-id="m9">
                        
                    </div>
                </div>
            </li>
           
            <li class="navPages-item">
                <a class="navPages-action has-subMenu" href="/new-zealand/" data-collapsible="navPages-108" aria-controls="navPages-108" aria-expanded="false">
                    <span><i class="fas fa-chevron-left"></i><span>Back</span></span>New Zealand<i class="far fa-chevron-down"></i><i class="far fa-chevron-up"></i><i class="fas fa-chevron-right"></i>
                </a>
                <div class="navPage-subMenu" id="navPages-108" aria-hidden="true" tabindex="-1">
                    <ul class="navPage-subMenu-list">
                       <!--  <li class="navPage-subMenu-item hidden">
                            <a class="navPage-subMenu-action navPages-action select-all" href="#">Shop All</a>
                        </li> -->
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action has-subMenu" href="/new-zealand/" data-collapsible="navPages-113" data-collapsible-disabled-breakpoint="medium" data-collapsible-disabled-state="open" data-collapsible-enabled-state="closed" aria-expanded="false" aria-controls="navPages-113">
                                <span><i class="fas fa-chevron-left"></i><span>Back</span></span> New Zealand <i class="fas fa-chevron-right"></i>
                            </a>
                            <ul class="navPage-childList" id="navPages-113" aria-hidden="true">
                              <!--   <li class="navPage-childList-item hidden">
                                    <a class="select-all navPage-childList-action navPages-action" href="/nz-ohs-hsw/new-zealand/">Shop All</a>
                                </li> -->
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/checklists-forms-registers/">Checklists, Forms &amp; Registers</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/ohs-policies/ohs-drivers-manual-20005">Drivers Manual</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/management-plans/emergency-response-plan-20003">Emergency Management Plan</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/faqs-new-zealand/">FAQs for New Zealand </a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/health-safety-management-systems-nz/">Management Systems</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/quality-management-systems/quality-management-system-50170">Quality Management System (QMS)</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/safe-operating-procedures/">Safe Operating Procedures</a>
                                </li>
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="/swms">Safe Work Method Statements</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="megamenu" data-id="m2">
                        
                    </div>
                </div>
            </li>
             <li class="navPages-item not-child ">
                 <a class="navPages-action has-subMenu" href="/blog" >
                    Blog
                </a>
                
            </li>
        </ul>
        <ul class="navPages-list navPages-list--user">
            <li class="navPages-item">
                <a class="navPages-action2" href="/login.php">Login/Register</a>
            </li>
            <li class="navPages-item"><a href="/about-us/" class="navPages-action2">About us</a></li>
            <li class="navPages-item"><a href="/faqs/" class="navPages-action2 support-trigger-custom">Chat Support</a></li>
            <li class="navPages-item"><a href="/contact-us/" class="navPages-action2">Contact</a></li>
            <li class="navPages-item"><a href="/partner-program/" class="navPages-action2">Partner Program</a></li>
            <li class="navPages-item"><a href="/product-guides/" class="navPages-action2">Product Guides</a></li>
        </ul>
        <div class="phone-header">
            <a href="tel:1300306604"><span class="flag"></span><i class="fas fa-phone"></i><span class="phone">1300 306 604</span></a>
        </div>
    </nav>
</div>
