<div class="whatusers">
    <div class="container">
        <h2>What users are saying</h2>
        <div class="content">
            <div class="item">
                <div class="item-content">
                    <span>
                        <span class="icon icon--ratingFull">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="icon icon--ratingFull">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="icon icon--ratingFull">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="icon icon--ratingFull">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="icon icon--ratingEmpty">
                            <i class="far fa-star"></i>
                        </span>
                    </span>
                    <p>“Purchased the management plan and worked through the document and have found it to be very user friendly. The instructions given to simplify the set up are excellent. I would recommend any company to the Safety Culture website.”</p>
                    <h4>Tina Jenner</h4>
                </div>
            </div>
            <div class="item">
                <div class="item-content">
                    <span>
                        <span class="icon icon--ratingFull">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="icon icon--ratingFull">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="icon icon--ratingFull">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="icon icon--ratingFull">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="icon icon--ratingEmpty">
                            <i class="far fa-star"></i>
                        </span>
                    </span>
                    <p>“Purchased the management plan and worked through the document and have found it to be very user friendly. The instructions given to simplify the set up are excellent. I would recommend any company to the Safety Culture website.”</p>
                    <h4>Tina Jenner</h4>
                </div>
            </div>
            <div class="item">
                <div class="item-content">
                    <span>
                        <span class="icon icon--ratingFull">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="icon icon--ratingFull">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="icon icon--ratingFull">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="icon icon--ratingFull">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="icon icon--ratingEmpty">
                            <i class="far fa-star"></i>
                        </span>
                    </span>
                    <p>“Purchased the management plan and worked through the document and have found it to be very user friendly. The instructions given to simplify the set up are excellent. I would recommend any company to the Safety Culture website.”</p>
                    <h4>Tina Jenner</h4>
                </div>
            </div>
            <div class="item">
                <div class="item-content">
                    <span>
                        <span class="icon icon--ratingFull">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="icon icon--ratingFull">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="icon icon--ratingFull">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="icon icon--ratingFull">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="icon icon--ratingEmpty">
                            <i class="far fa-star"></i>
                        </span>
                    </span>
                    <p>“Purchased the management plan and worked through the document and have found it to be very user friendly. The instructions given to simplify the set up are excellent. I would recommend any company to the Safety Culture website.”</p>
                    <h4>Tina Jenner</h4>
                </div>
            </div>
            <div class="item">
                <div class="item-content">
                    <span>
                        <span class="icon icon--ratingFull">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="icon icon--ratingFull">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="icon icon--ratingFull">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="icon icon--ratingFull">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="icon icon--ratingEmpty">
                            <i class="far fa-star"></i>
                        </span>
                    </span>
                    <p>“Purchased the management plan and worked through the document and have found it to be very user friendly. The instructions given to simplify the set up are excellent. I would recommend any company to the Safety Culture website.”</p>
                    <h4>Tina Jenner</h4>
                </div>
            </div>
        </div>
        <div class="btn-review">
            <a class="btn button button-primary btn-primary" href="/testimonials/">Read more reviews</a>
        </div>
    </div>
</div>
