<div class="side_bar_product_wrap">
    <div class="side_bar_product">
       <div class="cms_1">
           <p><strong>What people are saying</strong></p>
           <ul>
               <li>
                   <span>
                       <span class="icon icon--ratingFull">
                           <i class="fas fa-star"></i>
                       </span>
                       <span class="icon icon--ratingFull">
                           <i class="fas fa-star"></i>
                       </span>
                       <span class="icon icon--ratingFull">
                           <i class="fas fa-star"></i>
                       </span>
                       <span class="icon icon--ratingFull">
                           <i class="fas fa-star"></i>
                       </span>
                       <span class="icon icon--ratingEmpty">
                           <i class="far fa-star"></i>
                       </span>
                   </span>
                   <p>"A great jumping off point for ensuring that our SWMS covers everything. It certainly highlighted deficiencies in our current documents. " - 
                       <i>Renee</i>
                   </p>
               </li>
               <li>
                   <span>
                       <span class="icon icon--ratingFull">
                           <i class="fas fa-star"></i>
                       </span>
                       <span class="icon icon--ratingFull">
                           <i class="fas fa-star"></i>
                       </span>
                       <span class="icon icon--ratingFull">
                           <i class="fas fa-star"></i>
                       </span>
                       <span class="icon icon--ratingFull">
                           <i class="fas fa-star"></i>
                       </span>
                       <span class="icon icon--ratingEmpty">
                           <i class="far fa-star"></i>
                       </span>
                   </span>
                   <p>"A great jumping off point for ensuring that our SWMS covers everything. It certainly highlighted deficiencies in our current documents. " - 
                       <i>Renee</i>
                   </p>
               </li>
               <li>
                   <span>
                       <span class="icon icon--ratingFull">
                           <i class="fas fa-star"></i>
                       </span>
                       <span class="icon icon--ratingFull">
                           <i class="fas fa-star"></i>
                       </span>
                       <span class="icon icon--ratingFull">
                           <i class="fas fa-star"></i>
                       </span>
                       <span class="icon icon--ratingFull">
                           <i class="fas fa-star"></i>
                       </span>
                       <span class="icon icon--ratingEmpty">
                           <i class="far fa-star"></i>
                       </span>
                   </span>
                   <p>"A great jumping off point for ensuring that our SWMS covers everything. It certainly highlighted deficiencies in our current documents. " - 
                       <i>Renee</i>
                   </p>
               </li>
           </ul>
       </div>
   </div>
</div>
